*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #1f1f14;
}
.container{
background: #fff;
position: absolute;
top: 50%;
left: 50%;
text-align: center;
padding: 20px 120px;
align-items: center;
transform: translate(-50%,-50%);
width: 550px;
border-radius: 10px;
}
 .container .logo {
    width: 40px;
    margin-bottom: 20px;
}
.container h2{
    font-size: 29px;
    font-weight: 600;
    margin-bottom: 20px;
}
button img{
    width: 17px;
    margin-right: 10px;
    
}
button {
    width: 100%;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    font-weight: 600;
}
.container hr{
    height: 1px;
    border: 0;
    background-color: #c2c2c2;
}
.container span{
    margin: auto;
    background-color: #fff;
    margin-top: -10px;
    display: block;
    width: 40px;
}
.container input{
     width: 100%;
    padding: 10px 12px;
    margin: 19px 0;
    border: 1px solid #999;
    border-radius: 5px;
}
::placeholder{
    font-weight: 500;
    color: #333;
}